* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrap {
    overflow: hidden;
    position: relative;
    background-repeat: repeat-y;
}

.bg {
    position: absolute;
    left: 50%; /* Start from the center */
    transform: translateX(-50%); /* Center the image */
    top: 0;
    width: auto;
    height: 100%;
    opacity: 0.5;
}

.head {
    position: relative;
    z-index: 1;
    border-bottom: 2px solid black;
}

.content {
    position: relative;
    background-color: rgb(218, 193, 224);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); 
    margin: 0 auto;
    max-width: 800px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

input,
button,
textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.6rem;
}

label,
button {
    margin-top: 1rem;
}

button {
    cursor: pointer;
    padding: 0.5rem;
}