table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    font-size: larger;
}

.table-cell {
    width: 200px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 25px;
    padding-right: 25px;
}

th, td {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid black;
}