table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    font-size: larger;
    border-collapse: collapse;
}

.table-cell {
    width: 350px;
    max-width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 25px;
    padding-right: 25px;
}

td {
    text-align: center;
    padding: 10px 30px 10px 30px;
    border: 1px solid black;
}

.rows:nth-child(even) {
    background-color: #d5b5da;
}

.rows:hover {
    background-color: #b498b8; 
}



